<footer>
  <div class="footer">
    <p class="credit">
      &copy; Laing Solutions {{currentYear}}. Registered Company No. 6376724.
      <a href="mailto:info@laingsolutions.com">info@laingsolutions.com</a>
    </p>
    <p class="credit">
      Built with <a href="http://heroku.com">Heroku</a> and <a href="http://keystonejs.com/">KeystoneJS</a>.
    </p>
  </div>
</footer>
